h6{
    color: red;
    text-align: center;
    font-size: 30px;
}

h2{
    background-color: white;
    color: black;
    width: 150px;
    font-size: 25px;
    text-align: center;
margin: auto;
    /* display: inline; */
}
img{
    width: 500px
}
body{
    background-image: url(фон.jpeg);
}
    

 

 


 